<particles [style]="style" [width]="width" [height]="height" [params]="params"></particles>

<div class="root-container">
  <div class="toolbar-container">

    <div class="page-container">
      <div class="content-container">

        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>add_alert</mat-icon>
              New
            </ng-template>
            <div class="request-list-container">

              <mat-accordion>
                <mat-expansion-panel *ngFor="let request of requests">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ request.service }}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{ request.date.toLocaleString() }}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <mat-chip-list>
                    <mat-chip color="primary" selected>{{ request.description }}</mat-chip>
                  </mat-chip-list>
                  <p>Assignment:</p>
                  <mat-form-field>
                    <mat-label>Business</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let biz of businesses" [value]="biz">
                        {{biz}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </mat-expansion-panel>
              </mat-accordion>
              <!-- <mat-selection-list #requestList>
                      <mat-list-option *ngFor="let request of requests">
                        {{ request.service }}
                      </mat-list-option>
                    </mat-selection-list> -->
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon></mat-icon>
              Pending
            </ng-template>
            Awaiting acceptance
          </mat-tab>
        </mat-tab-group>


        <!-- <div>Outstanding requests</div>
        <hr style="width: 100%" /> -->

      </div>
    </div>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button>HH</button>
        <button mat-button>Account</button>
        <span class="example-spacer"></span>
        <span class="img-icon">
          <img src="../assets/hh.png" width="50" height="50" />
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>



<router-outlet></router-outlet>
