.root-container {
  height: 100%;
  /* display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center; */
}

.toolbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  /* justify-content: center; */
  align-items: flex-end;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 30px;
  /* justify-content: center; */
  /* align-items: center; */
  box-sizing: border-box;
}

.example-spacer {
  flex: 1 1 auto;
}

.img-icon {
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  display: flex;
}

.request-list-container {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 5px;
  border: 1px solid #7ab038;
  background: white;
  margin-top: 5px;
  box-sizing: border-box;
}
