/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

* {
  font-family: 'Karla', sans-serif;
}
body {
  margin: 0 0 0 0;
  height: 100vh;
  overflow: hidden;
}


.mat-toolbar.mat-primary {
  background: white;
  color: black;
  z-index: 1;
}

mat-vertical-stepper {
  height: 80%;
  width: 80%;
  border-radius: 10px;
  background-color: rgba(0,0,0,0) !important;
}

.mat-tab-body-wrapper {
  max-height: 100% !important;
}

.content-container * {
  font-size: 12px !important;
}
