.root-container {
  height: 100%;
  /* display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center; */
}

.toolbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  /* justify-content: center; */
  align-items: flex-end;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
}

.service-list-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  padding: 30px;
  /* justify-content: center; */
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  animation: fadeIn 0.67s ease-in-out;
}

.cleaning-service-page {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  animation: fadeIn 0.67s ease-in-out;
}

.hoverable {
  box-shadow: none;
}
.hoverable:hover {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.landscaping-service-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  animation: fadeIn 0.67s ease-in-out;
}

.plumbing-service-page {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-sizing: border-box;
  animation: fadeIn 0.67s ease-in-out;
}

.cleaning-form-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.house-cleaning-form {
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
}

.house-table {
  max-height: 50%;
  overflow-y: auto;
}
.house-row {
  margin: 2px;
  background: rgba(122,176,56,0.5);
  border-radius: 3px;
}

.house-td {
  display: inline-block;
  width: 30%;
  margin: 3px;
}
.float-right {
  float: right;
}

.not-full-width {
  width: 100%;
  max-width: 100%;
}

.service-tile {
  width: 47%;
  height: 150px;
  border-radius: 10px;
  background: lightblue;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
  margin: 3px;
}

.example-spacer {
  flex: 1 1 auto;
}

.img-icon {
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  display: flex;
}

.request-list-container {
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 5px;
  border: 1px solid #7ab038;
  background: white;
  margin-top: 5px;
  box-sizing: border-box;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
