<particles [style]="style" [width]="width" [height]="height" [params]="params"></particles>

<div class="root-container">
  <div class="toolbar-container">

    <div class="page-container">
      <div class="content-container">
        <div *ngIf="!currentService" class="service-list-page">
          <div (click)="serviceClicked(service)" class="service-tile" *ngFor="let service of services">
            <img [src]="service.icon" width="150" height="150" />
          </div>
        </div>

        <div *ngIf="currentService && currentService.name == 'Cleaning'" class="cleaning-service-page">
          <b>What are we cleaning?</b>
          <mat-button-toggle-group #houseType="matButtonToggleGroup">
            <mat-button-toggle value="house" aria-label="Text align left">
              House
              <!-- <mat-icon>format_align_left</mat-icon> -->
            </mat-button-toggle>
            <mat-button-toggle value="apartment" aria-label="Text align center">
              Apartment
              <!-- <mat-icon>format_align_center</mat-icon> -->
            </mat-button-toggle>
          </mat-button-toggle-group>

          <div class="cleaning-form-container" *ngIf="houseType.value == 'house'">
            <div class="house-table">
              <div class="house-row" *ngFor="let houseElement of houseElements">
                <div class="house-td">
                  {{ houseElement.name }} <i>${{ houseElement.price }}</i>
                </div>
                <div class="house-td">
                  <mat-form-field class="not-full-width">
                    <input type="number" matInput placeholder="Quantity" [(ngModel)]="houseElement.quantity" />
                  </mat-form-field>
                </div>
                <div class="house-td float-right">
                  ${{ houseElement.price * houseElement.quantity }}
                </div>
              </div>
            </div>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Notes" [(ngModel)]="houseElementNotes">
            </mat-form-field>
            <mat-form-field>
              <input matInput [(ngModel)]="houseCleaningDate" [matDatepicker]="houseCleaningDatePicker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="houseCleaningDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #houseCleaningDatePicker></mat-datepicker>
            </mat-form-field>

            <p>Total: ${{ getHouseTotal() }}</p>
            <button mat-fab (click)="submitHouseCleaningForm(houseType.value)" color="primary">Go!</button>

          </div>
          <div class="cleaning-form-container" *ngIf="houseType.value == 'apartment'">
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                *ngFor="let aptSize of aptSizes">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    ${{ aptSize.price }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ aptSize.sqFt }} sq ft
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <ul>
                  <li>All rooms</li>
                  <li>Kitchen</li>
                  <li>Bathroom</li>
                </ul>
                <mat-form-field>
                  <input matInput [(ngModel)]="aptSize.date" [matDatepicker]="cleaningServiceDate"
                    placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="cleaningServiceDate"></mat-datepicker-toggle>
                  <mat-datepicker #cleaningServiceDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="aptSize.notes" placeholder="Additional notes">
                </mat-form-field>
                <br>
                <button mat-fab (click)="submitCleaningForm(houseType.value, aptSize)" color="primary">Go</button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>

          <button (click)="backFromServicePage()" mat-button>Back</button>
        </div>

        <div *ngIf="currentService && currentService.name == 'Landscaping'" class="landscaping-service-page">
          <b>{{ currentService.name }} Services</b>
          <br>
          <p>Get a quote!</p>
          <mat-form-field class="example-full-width">
            <textarea rows="5" matInput placeholder="Describe what you need!" [(ngModel)]="landscapeNotes"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="landscapeDate" [matDatepicker]="landscapeDatePicker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="landscapeDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #landscapeDatePicker></mat-datepicker>
          </mat-form-field>
          <button mat-fab (click)="submitLandscapeForm()" color="primary">Go</button>
          <button (click)="backFromServicePage()" mat-button>Back</button>
        </div>

        <div *ngIf="currentService && currentService.name == 'Plumbing'" class="plumbing-service-page">
          <b>{{ currentService.name }} Services</b>
          <br>
          <p>Get a quote!</p>
          <mat-form-field class="example-full-width">
            <textarea rows="5" matInput placeholder="Describe what you need!" [(ngModel)]="plumbingNotes"></textarea>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="plumbingDate" [matDatepicker]="plumbingDatePicker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="plumbingDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #plumbingDatePicker></mat-datepicker>
          </mat-form-field>
          <button mat-fab (click)="submitPlumbingForm()" color="primary">Go</button>
          <button (click)="backFromServicePage()" mat-button>Back</button>
        </div>

      </div>
    </div>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button>HH</button>
        <button mat-button>Account</button>
        <span class="example-spacer"></span>
        <span class="img-icon">
          <img src="../assets/hh.png" width="50" height="50" />
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>



<!-- <router-outlet></router-outlet> -->
