<particles [style]="style" [width]="width" [height]="height" [params]="params"></particles>

<div class="root-container">
  <div class="toolbar-container">

    <div class="page-container">
      <div class="content-container">
        <full-calendar [events]="requests" defaultView="dayGridMonth" [plugins]="calendarPlugins"></full-calendar>
        <div class="this-week-container">
          <b>Next 7 days:</b>
          <div class="next-7-day-list-container">
            <mat-list role="list">
              <mat-list-item *ngFor="let request of next7Days" role="listitem">{{ request.service }}, {{ request.date.toLocaleString() }}</mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </div>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button>HH</button>
        <button mat-button>Account</button>
        <span class="example-spacer"></span>
        <span class="img-icon">
          <img src="../assets/hh.png" width="50" height="50" />
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>



<router-outlet></router-outlet>
